<title>Rsys</title>
<h1>Welcome, I will be your home page!!!!!!!</h1>
<p>
  <%= link_to 'Find Menus', controller: 'menus' %>
</p>
<%= link_to 'Find Menus', menus_path %>
<p>
  <%= link_to 'New Menu', new_menu_path %>
</p>
<p>
  <%= link_to 'All User', users_path %>
</p>



